
@{
    ViewData["Title"] = "Measurements";
}

<h1>Measurements</h1>

<div class="form-group">
    <label for="measurement_nameInput">Name</label>
    <input type="text" class="form-control" id="measurement_nameInput" placeholder="Enter Name"/>
</div>
